body {
	background-image:url('../WebsiteImages/PageElements/web_background.png');
}

h1, h2 {
	font-family:Copperplate, fantasy;
	margin:30px;
	background-color:Black;
	color:White;
	display:inline;
	padding-right:10px;
}

p {
	font-family:Copperplate, fantasy;
	background-color: DarkGray;
	width:900px;
	height:450px;
	margin:30px;
	overflow:scroll;
	border-radius:25px;
	padding:15px;
}

iframe {
	float:right;
}

img {
	width:100px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
}

.fujimoto_sum p {
	height:430px;
	width:250px;
	overflow:hidden;
	text-align:center;
}

.fujimoto_sum {
	float:right;
	position:absolute;
	top:95px;
	right:80px;
}

footer {
	background-color:DarkRed;
	position:fixed;
	height:60px;
	bottom:0px;
	width:98%;
	border-radius:25px;
}

	

